In [1]:
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

In [2]:
import pandas as pd
import numpy as np
list1 = ['a', 'b', 'c', 'd']
data = np.array(list1)
s = pd.Series(data)

print("Numpy data Representation \n",data , "\n")

print("Pandas Series Representation \n", s, "\n")

Numpy data Representation
 ['a' 'b' 'c' 'd']

Pandas Series Representation
 0    a
1    b
2    c
3    d
dtype: object

In [4]:
import pandas as pd
import numpy as np
list1 = ['a', 'b', 'c', 'd']
data = np.array(list1)
s = pd.Series(data,index=[100,101,102,103])

print(s)

100    a
101    b
102    c
103    d
dtype: object

In [5]:
import pandas as pd

data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b', 'c', 'd', 'a'])
print (s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [7]:
print("Harshada")

Harshada

In [5]:
import pandas as pd
s = pd.Series(None, index=[0,1,2,3,4,8,])
print (s)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
8   NaN
dtype: float64

In [1]:
import pandas as pd
s= pd.Series([0,1,2,3,8],index=['a','b','c','d','e'])

print (s[:3])

a    0
b    1
c    2
dtype: int64

In [2]:
import pandas as pd
s= pd.Series([0,1,2,3,8],index=['a','b','c','d','e'])
print (s[-3:])

c    2
d    3
e    8
dtype: int64

In [3]:
import pandas as pd
s= pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

print (s['a'],s['b'],s['e'])

1 2 5

In [4]:
import pandas as pd
s= pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

print (s['a'],s['b'],s['e'])

mult1 =s['d'] * s['b']
print(mult1)

1 2 5
8

In [5]:
import pandas as pd
s= pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)

print (s[['a','b','c','d']])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [6]:
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [7]:
import pandas as pd
data = [1,2,3,4,5]
sf = pd.Series(data)
df = pd.DataFrame(data)
print (sf)
print (df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   0
0  1
1  2
2  3
3  4
4  5

In [8]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)i

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [9]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,dtype=float)
print (df)

        0     1
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [10]:
import pandas as pd
data = {'Name':['Tom','Jack','Steve','Ricky'],
'Age':[28,34,29,42]}        
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [11]:
import pandas as pd
data = {'Name': ['Tom', 'Jerry', ' Oggy', 'Doreamon'],
'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print (df)

           Name  Age
rank1       Tom   28
rank2     Jerry   34
rank3      Oggy   29
rank4  Doreamon   42

In [12]:
import pandas as pd 
data = [{'a':1, 'b':2},{'a':5, 'c':20}]
df =pd.DataFrame(data)
print (df)

   a    b     c
0  1  2.0   NaN
1  5  NaN  20.0

In [13]:
import pandas as pd 
data = [{'a':1, 'b':2},
{'a':5, 'b':10,'c':20 }]
df =pd.DataFrame(data,index=['first','second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [14]:
import pandas as pd 

data = [{'a':1, 'b':2},
{'a':5, 'b':10,'c':20 }]
df1 =pd.DataFrame(data,index=['first','second'], columns=['a','b'])
df2 =pd.DataFrame(data,index=['first','second'], columns=['a','b1'])
print (df1)
print ("\n")
print (df2)

        a   b
first   1   2
second  5  10


        a  b1
first   1 NaN
second  5 NaN

In [15]:
import pandas as pd 
d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
     'two' :pd.Series([1,2,3,4], index=['a','b','c','d'])}
df =pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [16]:
import pandas as pd 
d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
     'two' :pd.Series([1,2,3,4], index=['a','b','c','d'])}
df =pd.DataFrame(d)
print (df)
print (df ['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [19]:
import pandas as pd 
d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
     'two' :pd.Series([1,2,3,4], index=['a','b','c','d'])}
df =pd.DataFrame(d)
print("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)
print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [22]:
import pandas as pd 
d = {'one' : pd.Series([1,2,3], index=['a','b','c']),
     'two' :pd.Series([1,2,3,4], index=['a','b','c','d']),
    'three':pd.Series([10,20,30], index=['a','b','c'])}
df =pd.DataFrame(d)
print("our data frame is")
print(df)
print ('Deleting the first column using DEL function')
del df['one']
print(df)
print("delete another column using POP function:")
df.pop('two')
print (df)

our data frame is
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
delete another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN